.card {
    background: #fafafa;
}
.form-box {
    background: #fff;
    border: 1px solid #C9CED2;
    width: 30%;
    margin: 50px auto;
    border-radius: 5px;
    margin-top: 120px;
}

.form-box-body {
    width: 80%;
    margin: 20px auto;
}


.form-box-body label {
    font-size: 14px;
}

.form-box-body input {
    padding: 13px 5px 13px 5px ;
    border: 1px solid #687680;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc ;
}



.form-box-body input:focus{
    border: 1px solid #0B6EFD;
    outline: none;
    box-sizing: 0;
}

.form-box-body .form-control {
    outline: none;
    padding: 10px;
}

.remember input {
    position: relative;
    right: 45%;
    height: 20px;
    top: 5px;
}

.remember label {
    display: inline;
    position: relative;
    left: 10%;
    bottom: 25px;
    font-size: 17px;
    color: #777777;
}
.form-box-body button {
    width: 98%;
    background: #0B6EFD;
    padding: 7px 0 7px 0;
    color: #fff;
    font-size: 18px;
}


.form-box-body button:hover {
    width: 98%;
    color: #0B6EFD;
    padding: 7px 0 7px 0;
    background: #fff;
    font-size: 18px;
    border: 1px solid #0B6EFD;
}

.form-box-body .bottom-link {
    display: block;
    color: #0B6EFD;
    font-size: 15px;
    margin: 5px 0;
}



textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #687680;
  box-shadow: 0 0px 1px #687680;
  outline: none;
}


@media screen and (max-width: 1000px){
    .form-box {
        background: #fff;
        border: 1px solid #C9CED2;
        width: 90%;
        margin: 50px auto;
        border-radius: 5px;
        margin-top: 80px;
    }
}